<button (click)="save()">save</button><span [hidden]="saveHidden">Saved!</span>
<div class="dragBox" [dndDraggable]="pokeBox" [dndEffectAllowed]="'all'" [dndDisableIf]="false"
    [dndType]="'pokeBox'">

    <div class="card">
        <div class="card-header">
            <span>PokéBox</span>
        </div>
    </div>
</div>

<p class="poke-board-header">Insert Here</p>
<div class="layout-padding">
    <ng-template #recursiveList let-list>

        <mat-card dndPlaceholderRef class="placeholder2">
        </mat-card>

        <div *ngFor="let pokemon of list" 
            [dndDraggable]="pokemon" 
            dndEffectAllowed="move" 
            [dndDisableIf]="pokemon.disable"
            [dndType]="pokemon.children ? dropzoneTypes[1] : dropzoneTypes[0]"
            (dndMoved)="onDragged(pokemon, list, 'move')">

            <div style="width:fit-content" class="card">
                <div class="card-header">
                    <span *ngIf="pokemon.content.id">
                        <img style="display: flex; position: relative;" src="assets/sprites/{{('000' + pokemon.content.id).substr(-3)}}MS.png">
                        {{pokemon.content.name.english}}
                    </span>
                    <input [(ngModel)]="pokemon.label" *ngIf="pokemon.children" placeholder="New PokéBox"/>
                    <div class="card-body"
                            *ngIf="pokemon.children" 
                            dndDropzone (dndDrop)="onDrop($event, pokemon.children)"
                            [dndDropzone]="[dropzoneTypes[0]]">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemon.children }"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="placeholder1" dndDropzone (dndDrop)="onDrop($event, pokemonBoard)" [dndDropzone]="dropzoneTypes">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemonBoard }"></ng-container>
    </div>
</div>

<app-poke-safari (capturedPokemon)="onCapturedPokemon($event)"></app-poke-safari>