.options {
    display: inline;
    text-align: center;
}

.option {
    padding: 10px;
}

.dropzone {
    padding-bottom: 500px;
    background: ghostwhite
}

.poke-board {
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
    height: 300px;
    overflow-y: scroll;
}

.forest {
    background-color: chartreuse;
    background-image: url(../../assets/backgrounds/forest-bg.png);
}

.water {
    background-color: aquamarine;
    background-image: url(../../assets/backgrounds/river_bg.png);
}

.placeholder2 {
background: rgb(38, 228, 228);
border-radius: 2px;
padding: 20px;
margin-bottom: 10px;
}

.poke-board-header {
    margin: 0%;
}