<div class="options">
    <button (click)="save()" [disabled]="pokemonBoard.length == 0" class="option">save</button>

    <span class="option">Insert Here</span>
    <mat-form-field class="option">
        <mat-label>Box Background</mat-label>
        <mat-select [(value)]="bgSelected">
            <mat-option value="forest">Forest</mat-option>
            <mat-option value="water">Water</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-list style="padding: 12px;"
                dndDropzone
                dndEffectAllowed="move"
                (dndDrop)="onDrop($event)">

    </mat-list>
</div>

<div class="dragBox" [dndDraggable]="pokeBox" [dndEffectAllowed]="'all'" [dndDisableIf]="false" [dndType]="'pokeBox'">
    <div class="card">
        <div class="card-header">
            <span>PokéBox</span>
        </div>
    </div>
</div>

<div class="layout-padding">
    <ng-template #recursiveList let-list>

        <mat-card dndPlaceholderRef class="placeholder2">
        </mat-card>

        <div *ngFor="let pokemon of list" [dndDraggable]="pokemon" dndEffectAllowed="move"
            [dndDisableIf]="pokemon.disable" [dndType]="pokemon.children ? dropzoneTypes[1] : dropzoneTypes[0]"
            (dndMoved)="onDragged(pokemon, list, 'move')">

            <div style="width:fit-content; font-weight: 100;" class="card" *ngIf="!pokemon.children">
                <div class="card-header" style="display: inline;">
                    <img style="display: inline; position: relative;"
                        src="assets/sprites/{{('000' + pokemon.content.id).substr(-3)}}MS.png">
                    <p style="display: inline;">{{pokemon.content.name.english}}</p>
                </div>
            </div>

            <div class="card" *ngIf="pokemon.children">
                <div class="card-header">
                    <input matInput [(ngModel)]="pokemon.label" placeholder="New PokéBox" />
                </div>
                <div class="card-body" dndDropzone (dndDrop)="onDrop($event, pokemon.children)"
                    [dndHorizontal]="pokemon.children ? true : false" [dndDropzone]="[dropzoneTypes[0]]">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemon.children }">
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>

    <div [className]="'poke-board ' +  bgSelected" dndDropzone (dndDrop)="onDrop($event, pokemonBoard)"
        [dndDropzone]="dropzoneTypes">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemonBoard }"></ng-container>
    </div>
</div>

<p>Welcome to the Pokemon Safari!</p>
<button (click)="start()">Click me to start!</button>