.options {
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.dragBox {
    padding: 15px;
}


.option {
    padding: 10px;
}

.dropzone {
    padding-bottom: 500px;
    background: ghostwhite
}

.release {
    min-height: 100px;
    margin: 1.5em auto;
    background-color: #f5f5f5;
    height: 90%;
    max-height: 90%;
    min-width: 400px;
    border: dotted #ddd 2px;
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    color: black;
    text-align: center;
}

.poke-board {
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
    /* height: 400px;
    overflow-y: scroll; */
}

.forest {
    background-color: chartreuse;
    background-image: url(../../assets/backgrounds/forest-bg.png);
}

.water {
    background-color: aquamarine;
    background-image: url(../../assets/backgrounds/river_bg.png);
}

.placeholder2 {
    background: rgb(38, 228, 228);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
    min-width: 120px;
}

.card-poke {
    width:fit-content; 
    font-weight: 100;
    display: flex;
}


.card-box {
    max-width: 500px;
}

.card-poke-header {
    display: inline;
}

.image {
    display: inline; position: relative;
}

.name {
    display: inline;
}

.poke-board-header {
    margin: 0%;
}

.safari {
    display: inline;
}
