<p class="poke-board-header">Insert Here (No Bug)</p>
<div class="layout-padding">
    <ng-template #recursiveList let-list>

        <mat-card dndPlaceholderRef class="placeholder2">
        </mat-card>

        <div *ngFor="let pokemon of list" 
            [dndDraggable]="pokemon" 
            dndEffectAllowed="move" 
            [dndDisableIf]="pokemon.disable"
            [dndType]="pokemon.children ? dropzoneTypes[1] : dropzoneTypes[0]"
            (dndMoved)="onDragged(pokemon, list, 'move')">

            <div class="card">
                <div class="card-header">
                    <span  *ngIf="pokemon.content.id">
                        <img src="assets/sprites/{{('000' + pokemon.content.id).substr(-3)}}MS.png">
                        {{pokemon.content.name.english}}
                    </span>
                    <div class="card-body"
                            *ngIf="pokemon.children" 
                            dndDropzone (dndDrop)="onDrop($event, pokemon.children)"
                            [dndDropzone]="[dropzoneTypes[0]]">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemon.children }"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="placeholder1" dndDropzone (dndDrop)="onDrop($event, pokemonBoard)" [dndDropzone]="dropzoneTypes">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemonBoard }"></ng-container>
    </div>
</div>