<div class="options">
    <button (click)="save()" [disabled]="pokemonBoard.length == 0" class="option">save</button>

    <mat-form-field class="option">
        <mat-label>Box Background</mat-label>
        <mat-select [(value)]="bgSelected">
            <mat-option value="forest">Forest</mat-option>
            <mat-option value="water">Water</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="dragBox" [dndDraggable]="pokeBoxVert" [dndEffectAllowed]="'all'" [dndDisableIf]="false"
        [dndType]="'pokeBox'">
        <div class="my-card">
            <div class="my-card-header">
                <span>PokéBox Vertical</span>
            </div>
        </div>
    </div>

    <div class="dragBox" [dndDraggable]="pokeBoxHor" [dndEffectAllowed]="'all'" [dndDisableIf]="false"
        [dndType]="'pokeBox'">
        <div class="my-card">
            <div class="my-card-header">
                <span>PokéBox Horizontal</span>
            </div>
        </div>
    </div>

    <div class="release" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event)">
        Release Pokémon here!
    </div>
</div>

<div class="layout-padding">
    <div [className]="'poke-board ' +  bgSelected" dndDropzone (dndDrop)="onDrop($event, pokemonBoard)"
        [dndDropzone]="dropzoneTypes">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemonBoard, form: 'base' }">
        </ng-container>
    </div>

    <ng-template #recursiveList let-list let-type="type">

        <mat-card dndPlaceholderRef class="placeholder2">
        </mat-card>

        <div *ngFor="let pokemon of list" [dndDraggable]="pokemon" dndEffectAllowed="move"
            [dndDisableIf]="pokemon.disable" [dndType]="pokemon.children ? dropzoneTypes[1] : dropzoneTypes[0]"
            (dndMoved)="onDragged(pokemon, list, 'move')">

            <div [className]="'my-card card-poke'"
                *ngIf="!pokemon.children">
                <div class="my-card-header card-poke-header">
                    <img class="image" src="assets/sprites/{{('000' + pokemon.content.id).substr(-3)}}MS.png">
                    <p class="name">{{pokemon.content.name.english}}</p>
                </div>
            </div>

            <div class="my-card card-box" *ngIf="pokemon.type === 'vert'">
                <div class="my-card-header">
                    <input matInput [(ngModel)]="pokemon.label" placeholder="Nova PokeBox Vertical" />
                </div>
                <div class="my-card-body-vert" dndDropzone (dndDrop)="onDrop($event, pokemon.children)"
                    [dndDropzone]="[dropzoneTypes[0]]">
                    <ng-container
                        *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemon.children, form: 'base' }">
                    </ng-container>
                </div>
            </div>

            <div class="my-card card-box" *ngIf="pokemon.type === 'hor'">
                <div class="my-card-header">
                    <input matInput [(ngModel)]="pokemon.label" placeholder="Nova PokeBox Horizontal" />
                </div>
                <div class="my-card-body-hor" dndDropzone
                    (dndDrop)="onDrop($event, pokemon.children)" [dndDropzone]="[dropzoneTypes[0]]">
                    <ng-container
                        *ngTemplateOutlet="recursiveList; context:{ $implicit: pokemon.children, form: 'base' }">
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div class="options">
    <button (click)="start()" class="option">Hunt for new Pokemon!</button>
    <button (click)="addPokemon()" class="option">Add Pokemon to board</button>
    <button (click)="downloadPokemon()" class="option highlight">Download Pokemons!</button>
</div>