.my-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-poke {
    width:fit-content; 
    font-weight: 100;
    display: flex;
}

.my-card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-poke-header {
    display: inline;
}

.my-card-body-hor {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    display: flex; 
    flex-wrap: wrap;
}

.my-card-body-vert {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.name {
    display: inline;
}